<p><a href="/usuarios/acessar">Sair</a></p>
<div class="content">
    <div class="container">
      <div class="row align-items-stretch no-gutters contact-wrap">
        <div class="col-md-8">
          <div class="form h-100">
            <h3>Formulário de Entrega</h3>
            <form class="mb-5" action="" method="" id="contactForm" name="contactForm">
              <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label for="name" class="col-form-label">Nome *</label>
                  <input type="text" class="form-control" name="name" id="name" placeholder="Seu nome">
                </div>
                <div class="col-md-6 form-group mb-5">
                  <label for="lastname" class="col-form-label">Sobrenome *</label>
                  <input type="text" class="form-control" name="lastname" id="lastname"  placeholder="Seu sobrenome">
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label for="sector" class="col-form-label">Setor *</label>
                  <input type="text" class="form-control" name="sector" id="sector" placeholder="Seu setor">
                </div>
                <div class="col-md-6 form-group mb-5">
                  <label for="registration" class="col-form-label">Matrícula *</label>
                  <input type="text" class="form-control" name="registration" id="registration"  placeholder="Sua matrícula">
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group mb-5">
                  <label class="col-form-label">Tamanho da camisa *</label>
                  <select class="form-select" name="shirtSize">
                    <option disabled="disabled" selected="selected">Ver tamanhos</option>
                    <option>PP</option>
                    <option>P</option>
                    <option>M</option>
                    <option>G</option>
                    <option>GG</option>
                  </select>
                </div>

                <div class="col-md-6 form-group mb-5">
                  <label class="col-form-label">Tamanho da calça *</label>
                  <select class="form-select" name="pantsSize">
                    <option disabled="disabled" selected="selected">Ver tamanhos</option>
                    <option>PP</option>
                    <option>P</option>
                    <option>M</option>
                    <option>G</option>
                    <option>GG</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group mb-5">
                  <label class="col-form-label">Vínculo *</label>
                  <select class="form-select" name="bond">
                    <option disabled="disabled" selected="selected">Mais opções</option>
                    <option value="clt">CLT</option>
                    <option value="pj">PJ</option>
                    <option value="coreme">COREME</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="submit" value="Cadastrar Entrega" class="btn btn-primary rounded-0 py-2 px-4">
                  <span class="submitting"></span>
                </div>
              </div>
            </form>

          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-info h-100">
            <h3>Informações de contato</h3>
            <p class="mb-5">Caso queira tirar alguma dúvida referente ao processo, entrar em contato com a Lavanderia.</p>
            <ul class="list-unstyled">
              <li class="d-flex">
                <span class="wrap-icon icon-room mr-3"></span>
                <span class="text">Av. Des. Maynard, 174 - Cirurgia, Aracaju - SE, 49055-000</span>
              </li>
              <li class="d-flex">
                <span class="wrap-icon icon-phone mr-3"></span>
                <span class="text">2106-****</span>
              </li>
              <li class="d-flex">
                <span class="wrap-icon icon-envelope mr-3"></span>
                <span class="text">
                  <a href="https://www.hospitaldecirurgia.com.br/">
                    https://www.hospitaldecirurgia.com.br/
                  </a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>